<!DOCTYPE html>
<html>
<head>
	<title>Happy Birthday Sinatra Templating</title>
</head>
<body>
	<h1>What's your new age?</h1>
  <form action="/birthday" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Confirm</button>
  </form>
</body>
</html>