body {
	background-color: rgb(9,164,220);
	font-family: helvetica;
}

body {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

table {
	width: 85%;
	text-align: left;
}

td, th {
	border: 2px solid black;
}