body {
	background-color: rgb(9,164,220);
	font-family: helvetica;
}

body {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

table {
	width: 75%;
	text-align: center;
}

td, th {
	border: 2px solid black;
	background-color: white;
	padding: 12px;
}